################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TorcTest/CopilotIndices/17.14.698.11175
/.vs/TorcTest/FileContentIndex
/.vs
/api/BookLibraryApi/bin/Debug/net9.0
/api/BookLibraryApi/obj
/api/BookLibraryApi/.vs
/backend/.vs/Lateral.Tasks/CopilotIndices/18.0.981.45449
/backend/.vs/Lateral.Tasks.slnx/config
/backend/.vs/Lateral.Tasks.slnx/DesignTimeBuild
/backend/.vs/Lateral.Tasks.slnx/v18
/backend/.vs/ProjectEvaluation
/backend/src/Lateral.Tasks.API/bin/Debug/net10.0
/backend/src/Lateral.Tasks.API/obj
/backend/src/Lateral.Tasks.Application/bin/Debug/net10.0
/backend/src/Lateral.Tasks.Application/obj
/backend/src/Lateral.Tasks.Domain/bin/Debug/net10.0
/backend/src/Lateral.Tasks.Domain/obj
/backend/src/Lateral.Tasks.Infrastructure/bin/Debug/net10.0
/backend/src/Lateral.Tasks.Infrastructure/obj
/backend/tests/Lateral.Tasks.Api.IntegrationTests/bin
/backend/tests/Lateral.Tasks.Api.IntegrationTests/obj
/backend/tests/Lateral.Tasks.API.UnitTests/bin/Debug/net10.0
/backend/tests/Lateral.Tasks.API.UnitTests/bin/Release/net10.0
/backend/tests/Lateral.Tasks.API.UnitTests/obj
/backend/tests/Lateral.Tasks.Application.UnitTests/bin
/backend/tests/Lateral.Tasks.Application.UnitTests/obj
/backend/.vs/Lateral.Tasks.slnx/copilot-chat/bf8847e0/sessions
/backend/.vs/Lateral.Tasks.slnx/FileContentIndex
/frontend/.vs
